@use'./_blocks/all-blocks';
@use'./fonts';
@use'./mixins';
@use'./variables';

.container{
    margin: 0 auto;
    max-width: 1440px;
    background-image: url(../image/bg@2x.png);
    background-size: contain;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}